@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url(../public//Garden.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Hide scrollbar for all elements */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  